.translate {
    background-image: url(../static/img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home {
    background-image: url(../static/img/word5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.quiz {
    background-image: url(../static/img/quiz7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    text-align:center;
    color:#051455  
}
.form-wrapper {
    color:#0d1d5e;
    font-size:30px;
    font-weight:bold;
    width:100%;
}
.form-group {
    font-style:bold;
    font-size:16px;
    color:#091133;
}

.trans {
    color:rgb(1, 13, 97)
}

img {
    height: 5;
}

.nav {
    overflow: hidden;
    padding: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(6, 14, 88);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(105, 105, 240);
}
