{% extends 'main.html' %}
{% block content %} 

  <section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <div class="slider_detail-box">
              <div class="container">
                <div class="btn-box">
                  <a href="/translate" class="btn-1">
                    Translate
                  </a>
                  <a href="/quiz" class="btn-2">
                    Play Quiz
            </div>
          </div>
        </div>
      </div>
    </div>
        
{% endblock content %}