<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body class="home">
        <div class="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/translate">Translate</a></li>
            <li><a href="/quiz">Quiz</a></li>
        </div>
        
        <div class="main">
            <h2>Welcome to The Words Zone
            <a href="/quiz"><h2>Play Quiz</h2></a>
            <a href="/translate"><h2>Translate</h2></a>
        </div>
        <script src="" async defer></script>
    </body>
</html>