{% extends 'main.html'%}
{% block content%}
<div class="slider_detail-box">
  <div class="container">
    <p>For each of the questions below, choose the word that best describes the underlined meaning</p>
      {% for item in quiz %}
  
      <div><u>{{ item.id }}.  {{ item.question }}</u></div>
      <div><input type=radio class="option"> {{ item.A }}</input> </div>
      <div><input type=radio class="option"> {{ item.B }}</input> </div>
      <div><input type=radio class="option"> {{ item.C }}</input> </div>
      <div><input type=radio class="option"> {{ item.D }}</input> </div>

      {% endfor%}
    </div>
  </div>
  
  <div class="container">
  <form method="POST" action="/quiz">
    <input type="submit" value="Submit">
  </form>
  </div>
{%endblock content%}