{% extends 'main.html' %}
{% block content %} 
 
  <title>Translator</title>
    <div class="container">
      <div>Enter the text you wish to translate, choose the language, and click Translate!</div>
      <div>
          <form method="POST">
              <div class="form-group">
                  <textarea name="text" cols="20" rows="10" class="form-control"></textarea>
              </div>
              <div class="form-group">
                  <label for="language">Language:</label>
                  <select name="language" class="form-control">
                      <option value="en">English</option>
                      <option value="it">Italian</option>
                      <option value="ja">Japanese</option>
                      <option value="ru">Russian</option>
                      <option value="de">German</option>
                  </select>
              </div>
              <div>
                  <button type="submit" class="btn btn-success">Translate!</button>
              </div>
          </form>
      </div>
    </div>
  {% endblock content %}